<h1 id="title">Locus Coding Challenge</h1>
<h3>Functionality: This app displays the time interval between two dates and times and gives a specific set of options depending on the time interval</h3>

{{outlet}}
